.form-field-item {
  label.legend {
    display: block;
  }
}

form{
  background: #cccccc;
  width: 480px;
  height: 640px;
  text-align: center;
}

.name,.gender{
  width: 300px;
  height: 50px;
}

.description{
  width: 300px;
  height: 150px;
}

.submit{
  width: 200px;
  height: 50px;
  background: #4bade7;
}